<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <p>This is the server to provide API for the review-king application.</p>
    <p>Please download the apk (for android) from this the link below:</p>
    <p><a href="https://www.dropbox.com/s/wo9rndczr8qkwjv/ReviewKing.apk?dl=0">Link to download the app.</a></p>
</body>
</html>